/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-test configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

config {
    testsDir "tests"
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    configFile "tests/nextflow.config"
    profile "test"

    ignore 'modules/nf-core/**/tests/*', 'subworkflows/nf-core/**/tests/*'

    triggers 'nextflow.config', 'nf-test.config', 'conf/test.config', 'tests/nextflow.config'
}
