/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-cov Nextflow process config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Process-specific ext.args / ext.prefix / publishDir selectors.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'FASTQC' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.library}.run${meta.run}" }
        publishDir = [
            [ path: { "${params.outdir}/fastqc" },      mode: params.publish_dir_mode, pattern: "*.html" ],
            [ path: { "${params.outdir}/fastqc/zips" }, mode: params.publish_dir_mode, pattern: "*.zip"  ]
        ]
    }

    withName: 'TRIMGALORE' {
        ext.prefix = { "${meta.library}.run${meta.run}" }
        publishDir = [
            [ path: { "${params.outdir}/trimgalore/logs" }, mode: params.publish_dir_mode, pattern: "*report.txt" ]
        ]
    }

    withName: 'BWA_MEM' {
        ext.args   = { meta.read_group ? "-R '${meta.read_group}'" : '' }
        ext.prefix = { "${meta.library}.run${meta.run}" }
    }

    withName: 'BWAMEM2_MEM' {
        ext.args   = { meta.read_group ? "-R '${meta.read_group}'" : '' }
        ext.prefix = { "${meta.library}.run${meta.run}" }
    }

    withName: 'BWAMEM3_MEM' {
        ext.args   = { meta.read_group ? "-R '${meta.read_group}'" : '' }
        ext.prefix = { "${meta.library}.run${meta.run}" }
    }
}
